@import url('https://fonts.googleapis.com/css2?family=Fredoka&family=Golos+Text&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all 0.25s linear;
    font-family: 'Golos text', sans-serif;
}

:root{
    --min-color: #fff;
    --sc-color: #be1c1c;
    --th-color: #3d3c3c;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 0.5rem;
    font-size: 66%;
}

header{
    position:fixed;
    top: 0; right: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 3%;
    background: rgba(10,10,10, 0.6);
    z-index: 1001;
}

header .log{
    font-size: 3.2rem;
    color: var(--min-color);
    padding: 0.4rem;
}

header .navbar a{
    margin: 0 0.8rem;
    font-size: 1.7rem;
    color: var(--min-color);
}